* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #256dca;
    color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    z-index: 10;
}

.name-container {
    position: relative;
}

.name-container h1 {
    color: #fffcfe;
    font-size: 1.5rem;
}

.menu-and-links {
    display: flex;
    align-items: center;
}

.icon-link {
    margin-left: 20px;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}


