* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #256dca;
    color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    z-index: 10;
}

.name-container {
    position: relative;
}

.name-container h1 {
    color: #fffcfe;
    font-size: 1.5rem;
}

.menu-and-links {
    display: flex;
    align-items: center;
}

.icon-link {
    margin-left: 20px;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.icon-link:hover {
    color: #fffcfe; /* Highlight color on hover */
}

.menu-icon {
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
}

.hidden {
    display: none;
}

nav {
    position: absolute;
    top: 60px;
    left: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 10px;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}
